
{% load static wagtailcore_tags wagtailuserbar %}

<section id="footer" class="py-5 bg-dark">
 <div class="container-xl">
  <div class="footer_1 row">
   <div class="col-md-5">
      <div class="footer_1_left">	    	
		<b class="fs-1 family_1 text-uppercase d-block mb-3"><a class="text-white" href="index.html">FSUU BIRC</a> </b>
		  <p class="text-white">We are many variations of passages available but the majority have suffered alteration in some form by injected humour words believable.</p>
		  <ul class="mb-0 text-white">
		   <li class="d-flex"><i class="bi-telephone cont_icon bg_green text-white text-center rounded_10 me-3"></i> <span class="mt-1">+91 123 654 7898</span></li>
		   <li class="d-flex mt-3"><i class="bi-geo-alt cont_icon bg_green text-white text-center rounded_10 me-3"></i> <span class="mt-1">San. Francisco St. Butuan City, Philippines</span></li>
		   <li class="d-flex mt-3"><i class="bi-envelope cont_icon bg_green text-white text-center rounded_10 me-3"></i> <span class="mt-1"><a class="text-white link" href="#">biodiversity@urios.edu.ph</a></span></li>
		  </ul>
	  </div>
   </div>
  
  <div class="col-md-3">
      <div class="footer_1_left">
	     <b class="d-block text-white family_1 fs-4 mt-2">Partners Links</b>
		 <hr class="line mb-4">
		  <div class="row footer_1ism">
		 <span class="col-md-12 col-6  d-inline-block"><i class="bi-chevron-right font_13 align-middle col_green me-1"></i> <a class="text-white link" href="#">DOST PCIEERD</a></span>
	 <span class="mt-3 col-md-12 col-6  d-inline-block"><i class="bi-chevron-right font_13 align-middle col_green me-1"></i> <a class="text-white link" href="#"> DOST PCHRRD</a></span>
	 <span class="mt-3 col-md-12 col-6  d-inline-block"><i class="bi-chevron-right font_13 align-middle col_green me-1"></i> <a class="text-white link" href="#"> DENR Region</a></span>
	 <span class="mt-3 col-md-12 col-6  d-inline-block"><i class="bi-chevron-right font_13 align-middle col_green me-1"></i> <a class="text-white link" href="#"> DAR Region</a></span>
	  <span class="mt-3 col-md-12 col-6  d-inline-block"><i class="bi-chevron-right font_13 align-middle col_green me-1"></i> <a class="text-white link" href="#">  CHED Region</a></span>
	  <span class="mt-3 col-md-12 col-6  d-inline-block"><i class="bi-chevron-right font_13 align-middle col_green me-1"></i> <a class="text-white link" href="#">  Others</a></span>
	    </div>
	  </div>
   </div>
   
   
    <div class="col-md-4">
      <div class="footer_1_left">
	     <b class="d-block text-white family_1 fs-4 mt-2">Office Hours</b>
		 <hr class="line mb-4">
		 <ul class="mb-0 text-white">
		  <li class="d-block"><i class="bi-clock me-1 align-middle font_14 col_green"></i> Open Day <span class="float-end">Mon - Friday</span></li>
		  <li class="d-block border-top mt-3 pt-3"><i class="bi-clock me-1 align-middle font_14 col_green"></i> Office Transaction <span class="float-end">08:00 AM - 4:00 PM</span></li>
		  <li class="d-block border-top mt-3 pt-3"><i class="bi-clock me-1 align-middle font_14 col_green"></i> Regular Meeting <span class="float-end">Monday 10:00 PM</span></li>		  
		  <li class="d-block border-top mt-3 pt-3"><i class="bi-clock me-1 align-middle font_14 col_green"></i> Natural Collection Visit <span class="float-end">by appointment</span></li>
		  <li class="d-block border-top mt-3 pt-3"><i class="bi-clock me-1 align-middle font_14 col_green"></i> Off Day <span class="float-end">Sunday</span></li>
		 </ul>
	  </div>
   </div>
  </div>

 </div>
</section>

<section id="footer_b" class="py-3 bg-black">
 <div class="container-xl">
  <div class="footer_b1 row">
   <div class="col-md-9">
      <div class="footer_b1_left mt-2">
	     <p class="mb-0 text-white">© 2025 FSUU BIRC WEBSITE. All Rights Reserved | Design by BIRC TEAM</p>
	  </div>
   </div>

   <div class="col-md-3">
      <div class="footer_b1_right text-end">
	     <ul class="mb-0 social_icon1 font_14">
			   <li class="d-inline-block"><a href="#"><i class="bi bi-facebook"></i></a></li>
			   <li class="d-inline-block ms-2"><a href="#"><i class="bi bi-twitter"></i></a></li>
			   <li class="d-inline-block ms-2"><a href="#"><i class="bi bi-linkedin"></i></a></li>
			  <li class="d-inline-block ms-2"><a href="#"><i class="bi  bi-instagram"></i></a></li>
			</ul>
	  </div>
   </div>
  </div>

 </div>
</section>
