
{% load static wagtailcore_tags wagtailuserbar %}

<section id="footer" class="py-5">
  <div class="container-xl">
    <div class="row">

      <!-- Left: About / Contact -->
      <div class="col-md-6">
        <h3 class="mb-3">FSUU Biodiversity Informatics Research Center</h3>
        <p class="text-white">We are many variations of passages available but the majority have suffered alteration in some form by injected humour words believable.</p>
        <ul class="list-unstyled text-white mb-0">
          <li class="d-flex mb-2"><i class="bi-telephone me-2 text-yellow"></i> +91 123 654 7898</li>
          <li class="d-flex mb-2"><i class="bi-geo-alt me-2 text-yellow"></i> San. Francisco St. Butuan City, Philippines</li>
          <li class="d-flex"><i class="bi-envelope me-2 text-yellow"></i> <a href="mailto:biodiversity@urios.edu.ph" class="text-white">biodiversity@urios.edu.ph</a></li>
        </ul>
      </div>

      <!-- Center: Partner Links -->
      <div class="col-md-4 office-hours">
          <h5 class="mb-4">Office Hours</h5>
                <ul class="list-unstyled text-white mb-0">
                        <li class="d-flex justify-content-between mb-1">
                          <span><i class="bi-calendar-check me-2"></i>Open Day</span>
                          <span>Mon - Friday</span>
                        </li>
                        <li class="d-flex justify-content-between mb-1">
                          <span><i class="bi-clock me-2"></i>Office Transaction</span>
                          <span>08:00 AM - 4:00 PM</span>
                        </li>          
                        <li class="d-flex justify-content-between mb-1">
                          <span><i class="bi-binoculars me-2"></i>Natural Collection Visit</span>
                          <span>By Appointment</span>
                        </li>
                        <li class="d-flex justify-content-between mb-1">
                          <span><i class="bi-slash-circle me-2"></i>Off Day</span>
                          <span>Sunday</span>
                        </li>
                </ul>
      </div>


      <!-- Right: Office Hours -->

      <div class="col-md-2 partners-links">
          <h5 class="mb-3">Partners Links</h5>
          <ul class="list-unstyled text-white mb-0">
            <li class="mb-2">
              <i class="bi bi-box-arrow-up-right"></i>
              <a href="#">DOST PCIEERD</a>
            </li>
            <li class="mb-2">
              <i class="bi bi-box-arrow-up-right"></i>
              <a href="#">DOST PCHRRD</a>
            </li>
            <li class="mb-2">
              <i class="bi bi-box-arrow-up-right"></i>
              <a href="#">DENR Region</a>
            </li>
            <li class="mb-2">
              <i class="bi bi-box-arrow-up-right"></i>
              <a href="#">DAR Region</a>
            </li>
            <li class="mb-2">
              <i class="bi bi-box-arrow-up-right"></i>
              <a href="#">CHED Region</a>
            </li>
            <li>
              <i class="bi bi-box-arrow-up-right"></i>
              <a href="#">Others</a>
            </li>
          </ul>
      </div>


    
      

    </div>
  </div>
</section>

<section id="footer_b" class="py-3">
  <div class="container-xl">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
      <!-- Copyright -->
      <p class="mb-2 mb-md-0 text-white text-center text-md-start">
        © 2025 FSUU BIRC WEBSITE. All Rights Reserved | Design by BIRC TEAM
      </p>

      <!-- Social Icons -->
      <ul class="list-unstyled d-flex mb-0">
        <li class="me-3"><a href="#" class="text-white"><i class="bi bi-facebook"></i></a></li>
        <li class="me-3"><a href="#" class="text-white"><i class="bi bi-twitter"></i></a></li>
        <li class="me-3"><a href="#" class="text-white"><i class="bi bi-linkedin"></i></a></li>
        <li><a href="#" class="text-white"><i class="bi bi-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</section>
