{% load static wagtailcore_tags wagtailuserbar %}
<section id="header">
  <nav class="navbar navbar-expand-lg bg-mods-green">
    <div class="container-xl p-sm-2 p-lg-0">

      <!-- Hamburger button (mobile) - now triggers offcanvas -->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileNavOffcanvas"
        aria-controls="mobileNavOffcanvas" aria-label="Toggle navigation">
        <span class="toggler-custom">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>

      <!-- Desktop menu (visible on lg and above) -->
      <div class="collapse navbar-collapse d-none d-lg-flex align-items-center" id="mainNavbar">
        <ul class="navbar-nav align-items-lg-center ms-auto">

          <!-- Home -->           
          <li class="nav-item">
            <a class="nav-link" href="{{ home_url }}" >
              <img src="{% static 'image/mainlogo.png' %}" alt="Logo">
              <span class="text-white" >
                <h4 >{{ site_config.site_name }}</h4> 
                <small style="color:#C5C5C5; font-size: 10px; display: block; line-height: 0.1;">
                  San Francisco St, Butuan City, 8600 Agusan del Norte, Philippines <img src="{% static 'image/flagph.png' %}" alt="Philippine Flag"
     style="width: 16px; height: 10px; vertical-align: middle;">
                </small>               
              </span>              
            </a> 
          </li>

          <!-- Services Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-center" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
  
              <!-- Inline SVG icon -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="36"
                height="36"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#D5FF85"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="nav-icon mb-1"
              >
                <path d="M13 20.693c-.905 .628 -2.36 .292 -2.675 -1.01a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.492 .362 1.716 2.219 .674 3.03" />
                <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                <path d="M17 22l5 -3l-5 -3z" />
              </svg>

              <!-- Label text -->
               <span class="nav-label text-white d-block">                  
                  Services
                </span>          
          </a>

            <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
              <li><a class="dropdown-item" href="{{ nhc_collection.url }}">FSUU-NHC Collection</a></li>
              <li><a class="dropdown-item" href="services.html">Specify 7 PORTAL</a></li>
              <li><a class="dropdown-item" href="services.html">IPT GBIF</a></li>
              <li><a class="dropdown-item" href="services_detail.html">Photogrammetry Laboratory</a></li>
              <li><a class="dropdown-item" href="services_detail.html">Downloadable Forms</a></li>
            </ul>
          </li>

          <!-- Research Dropdown -->
          <li class="nav-item dropdown">
           

             <a class="nav-link dropdown-toggle text-center" href="#" id="researchDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
  
              <!-- Inline SVG icon -->

               <svg
                xmlns="http://www.w3.org/2000/svg"
                width="36"
                height="36"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#D5FF85"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="nav-icon mb-1"
              >
                  <path d="M3 12h1m8 -9v1m8 8h1m-15.4 -6.4l.7 .7m12.1 -.7l-.7 .7" />
                  <path d="M9 16a5 5 0 1 1 6 0a3.5 3.5 0 0 0 -1 3a2 2 0 0 1 -4 0a3.5 3.5 0 0 0 -1 -3" />
                  <path d="M9.7 17l4.6 0" />


              </svg>

              
               <!-- Label text -->
               <span class="nav-label text-white d-block">                  
                  Research
                </span>          
          </a>

            <ul class="dropdown-menu" aria-labelledby="researchDropdown">
              <li><a class="dropdown-item" href="{{ ure_page.url }}">Undergraduate Research</a></li>
              <li><a class="dropdown-item" href="{{ faculty_page.url }}">Faculty Research</a></li>
              <li><a class="dropdown-item" href="{{ collaboration_page.url }}">Collaboration Research</a></li>
              <li><a class="dropdown-item" href="{{ publication_page.url }}">Publications</a></li>
            </ul>
          </li>

          <!-- About Us Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-center" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
  
              <!-- Inline SVG icon -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="36"
                height="36"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#D5FF85"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="nav-icon mb-1"
              >
                  <path d="M8 9l5 5v7h-5v-4m0 4h-5v-7l5 -5m1 1v-6a1 1 0 0 1 1 -1h10a1 1 0 0 1 1 1v17h-8" />
                  <path d="M13 7l0 .01" />
                  <path d="M17 7l0 .01" />
                  <path d="M17 11l0 .01" />
                  <path d="M17 15l0 .01" />

              </svg>

              <!-- Label text -->
               <span class="nav-label text-white d-block">                  
                  About Us
                </span>          
          </a>

            <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
              <li><a class="dropdown-item" href="{{ mv_page.url }}">Mission & Vision</a></li>
              <li><a class="dropdown-item" href="#">Our Projects</a></li>
              <li><a class="dropdown-item" href="{{ contact_page.url }}">Contact Us</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">&nbsp;</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">&nbsp;</a>
          </li>


        </ul>
      </div>

    </div>
  </nav>

  <!-- Mobile Offcanvas Panel -->
  <div class="offcanvas offcanvas-end" tabindex="-1" id="mobileNavOffcanvas" aria-labelledby="mobileNavOffcanvasLabel">
    <div class="offcanvas-header bg-mods-green">
      <h5 class="offcanvas-title text-white" id="mobileNavOffcanvasLabel">Menu</h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-0">
      <ul class="navbar-nav">
        
        <!-- Home -->
        <li class="nav-item border-bottom">
          <a class="nav-link p-3" href="{{ home_url }}">
            <i class="bi bi-house me-2"></i> Home
          </a>
        </li>

        <!-- Services Section -->
        <li class="nav-item border-bottom">
          <a class="nav-link p-3 fw-bold" data-bs-toggle="collapse" href="#servicesCollapse" role="button" aria-expanded="false">
            Services <img src="{% static 'image/icons-svg/chevron-down.svg' %}" width="15" height="15" alt="-" class="float-end mt-1">
          </a>
          <div class="collapse" id="servicesCollapse">
            <ul class="list-unstyled ps-4">
              <li><a class="nav-link py-2" href="{{ nhc_collection.url }}">FSUU-NHC Collection</a></li>
              <li><a class="nav-link py-2" href="services.html">Specify 7 PORTAL</a></li>
              <li><a class="nav-link py-2" href="services.html">IPT GBIF</a></li>
              <li><a class="nav-link py-2" href="services_detail.html">Photogrammetry Laboratory</a></li>
              <li><a class="nav-link py-2" href="services_detail.html">Downloadable Forms</a></li>
            </ul>
          </div>
        </li>

        <!-- Research Section -->
        <li class="nav-item border-bottom">
          <a class="nav-link p-3 fw-bold" data-bs-toggle="collapse" href="#researchCollapse" role="button" aria-expanded="false">
            Research <img src="{% static 'image/icons-svg/chevron-down.svg' %}" width="15" height="15" alt="-" class="float-end mt-1">
          </a>
          <div class="collapse" id="researchCollapse">
            <ul class="list-unstyled ps-4">
              <li><a class="nav-link py-2" href="{{ ure_page.url }}">Undergraduate Research</a></li>
              <li><a class="nav-link py-2" href="{{ faculty_page.url }}">Faculty Research</a></li>
              <li><a class="nav-link py-2" href="{{ collaboration_page.url }}">Collaboration Research</a></li>
              <li><a class="nav-link py-2" href="{{ publication_page.url }}">Publications</a></li>
            </ul>
          </div>
        </li>

        <!-- About Us Section -->
        <li class="nav-item border-bottom">
          <a class="nav-link p-3 fw-bold" data-bs-toggle="collapse" href="#aboutCollapse" role="button" aria-expanded="false">
            About Us <img src="{% static 'image/icons-svg/chevron-down.svg' %}" width="15" height="15" alt="-" class="float-end mt-1">
          </a>
          <div class="collapse" id="aboutCollapse">
            <ul class="list-unstyled ps-4">
              <li><a class="nav-link py-2" href="{{ mv_page.url }}">Mission & Vision</a></li>
              <li><a class="nav-link py-2" href="#">Our Projects</a></li>
              <li><a class="nav-link py-2" href="{{ contact_page.url }}">Contact Us</a></li>
            </ul>
          </div>
        </li>

      </ul>
    </div>
  </div>
  
</section>